<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Debug</title>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3>Images</h3>
          <table class="table">
              <thead>
                <tr><th>num</th> <th>data</th></tr>
              </thead>
              <tbody>
                {% for rr in range(params['images']|length) %}
                <tr>
                    <td>{{ rr }}</td>
                    <td>{{ params['images'][rr]}}</td>
                </tr>
                {% endfor %}
              </tbody>
          </table>

          <h3>Class names</h3>
          <table class="table">
              <thead>
                <tr><th>class num</th> <th>class name</th></tr>
              </thead>
              <tbody>
                {% for rr in range(params['class_names']|length) %}
                <tr>
                    <td>{{ rr }}</td>
                    <td>{{ params['class_names'][rr]}}</td>
                </tr>
                {% endfor %}
              </tbody>
          </table>

          <h3>Strategies</h3>
          <table class="table">
              <thead>
                <tr><th>strategy name</th> <th>data</th></tr>
              </thead>
              <tbody>
                {% for key, value in params['strats'].items() %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
                {% endfor %}
              </tbody>
          </table>

        </div>
      </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>

</html>